In [1]:
# 导入pandas包
import pandas as pd
import numpy as np

导入财政局不动产数据

In [2]:
mof_data = pd.read_csv('real_property_income.csv', thousands=',')
mof_data.head()

,缴款日期,代收网点,执收单位,财政票据号,缴款书号,缴款书日期,缴款单位,项目编码,Unnamed: 8,项目,金额,缴款方式,数据类型
0,2019-01-02,中信银行南阳分行,135402 南阳市地产交易中心,35633.0,0084348,2019-01-02,门炳臣,426002,NaN,补缴的土地价款,2968.18,现金,正常
1,2019-01-02,中信银行南阳分行,135402 南阳市地产交易中心,35634.0,0084349,2019-01-02,朱成良,426002,NaN,补缴的土地价款,157.60,现金,正常
2,2019-01-02,中信银行南阳分行,135402 南阳市地产交易中心,35638.0,0084350,2019-01-02,罗淅亭,426002,NaN,补缴的土地价款,3807.37,现金,正常
3,2019-01-02,中信银行南阳分行,135402 南阳市地产交易中心,35639.0,0084351,2019-01-02,赵金光,426002,NaN,补缴的土地价款,141.00,现金,正常
4,2019-01-02,中信银行南阳分行,135402 南阳市地产交易中心,35640.0,0084352,2019-01-02,王鹏,426002,NaN,补缴的土地价款,3754.24,现金,正常

删除无用数据

In [3]:
#mof_data_2 = mof_data.iloc[:,6:11]
#mof_data_2

删除无用列

In [4]:
#mof_data_3=mof_data_2[mof_data_2['项目']=='补缴的土地价款']
#mof_data_3.drop(mof_data_3.columns[[1,2,3]],axis=1,inplace=True)

#mof_data_3

导入卧龙区数据

In [5]:
wolong_data = pd.read_csv('wolong_income.csv')
wolong_data["比对结果"] = "无匹配数据"
wolong_data["匹配次数"] = 0
wolong_data

       序号  申请人                身份证号    小区名称  土地出让金金额   比对结果  匹配次数
0     116  张永耀  412926197404274511  北京安居新村   2429.0  无匹配数据     0
1      80  王金博  412931197509261339  北京安居新村   2431.0  无匹配数据     0
2      74  阚清涛  411303197810301011  北京安居新村   2602.0  无匹配数据     0
3      14  朱林举  412922197812151638  北京安居新村   2665.0  无匹配数据     0
4      27   王淼  411302198011260039  北京安居新村   2665.0  无匹配数据     0
...   ...  ...                 ...     ...      ...    ...   ...
4004  317  黄海良  412924196006251317    淯水花园  99320.0  无匹配数据     0
4005  346   郝鑫  412929197008019411    淯水花园  99320.0  无匹配数据     0
4006  689  张清洋  412924197205051312    淯水花园  99320.0  无匹配数据     0
4007  388  李玉东  411303198201214857    淯水花园  99327.0  无匹配数据     0
4008  490  徐铭辰  412702198703257431    淯水花园  99327.0  无匹配数据     0

[4009 rows x 7 columns]

In [6]:
wolong_data['土地出让金金额'].sum()/10000

24950.6546

删除无用数据

In [7]:
#wolong_data_2 = wolong_data.iloc[:,1:5]
#wolong_data_2

删除表

In [8]:
#wolong_data_2.drop(wolong_data_2.columns[[1,2]],axis=1,inplace=True)
#wolong_data_2

In [9]:
for index_wl, row_wl in wolong_data.iterrows():
    name_wl = row_wl["申请人"]
    amount_wl = row_wl["土地出让金金额"]
    mof_data_tmp = mof_data[mof_data["缴款单位"]==name_wl]
    #print("卧龙区数据：索引%s 姓名 %s 金额 %s" % (index_wl, name_wl,amount_wl))
    
    count = 0
    for index_mof, row_mof in mof_data_tmp.iterrows():
        name_mof = row_mof["缴款单位"]
        amount_mof = row_mof["金额"]
        #print("财政局数据：索引%s 姓名 %s 金额 %s" % (index_mof, name_mof,amount_mof))

        if(amount_wl == amount_mof):
            count+=1
            #wl = wolong_data.iloc[index_wl, :]
            #mof = mof_data.iloc[index_mof, :]
            wolong_data.loc[index_wl,'比对结果']="匹配"
            wolong_data.loc[index_wl,'匹配次数']=count

In [11]:
wolong_data.to_excel('比对结果.xls', engine="openpyxl")

未匹配到的户数

In [13]:
wolon_data_nomatch = wolong_data[(wolong_data["比对结果"]=="无匹配数据") & (wolong_data["匹配次数"]==0)]
wolon_data_nomatch.to_excel('未匹配.xls', engine="openpyxl")

In [14]:
wolon_data_nomatch['土地出让金金额'].sum()/10000

957.5169

匹配到，但超过1条记录的户数

In [16]:
wolon_data_repeat = wolong_data[(wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]>1)]
wolon_data_repeat.to_excel('重复数据.xls', engine="openpyxl")

In [17]:
wolon_data_repeat['土地出让金金额'].sum()/10000

55.4148

匹配到的户数和缴费金额

In [18]:
wolon_data_income = wolong_data[(wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]==1)]
wolon_data_income.to_excel('匹配数据.xls', engine="openpyxl")

In [16]:
wolon_data_income['土地出让金金额'].sum()/10000

23937.7229

航天居住小区

总户数及金额

In [20]:
wolong_data_hangtian = wolong_data[wolong_data["小区名称"]=="航天居住小区"]
len(wolong_data_hangtian)

90

In [21]:
wolong_data_hangtian['土地出让金金额'].sum()/10000

615.1471

In [22]:
wolong_data_hangtian_nomatch = wolong_data[(wolong_data["小区名称"]=="航天居住小区")& (wolong_data["比对结果"]=="无匹配数据") ]
wolong_data_hangtian_nomatch

     序号 申请人                身份证号    小区名称  土地出让金金额   比对结果  匹配次数
208  89  闫路  411302198506240822  航天居住小区  39541.0  无匹配数据     0

In [23]:
wolong_data_income_hangtian = wolong_data[(wolong_data["小区名称"]=="航天居住小区") & (wolong_data["比对结果"]=="匹配") &(wolong_data["匹配次数"]==1)  ]

In [24]:
wolong_data_income_hangtian['土地出让金金额'].sum()/10000

611.193

In [25]:
wolong_data_income_hangtian

      序号  申请人                身份证号    小区名称  土地出让金金额 比对结果  匹配次数
197   64  庞万永  412924197506070314  航天居住小区  38327.0   匹配     1
198   72  卢景林  412925197305055595  航天居住小区  38500.0   匹配     1
200   63  王金仓  412924196804121138  航天居住小区  38674.0   匹配     1
201   66  华远亭  411303198302044834  航天居住小区  38847.0   匹配     1
203   57  李相奇  412924194810041311  航天居住小区  39021.0   匹配     1
...   ..  ...                 ...     ...      ...  ...   ...
3613  14  范鹏杨  411303199808016771  航天居住小区  78586.0   匹配     1
3677  26  王保均  412924196602201631  航天居住小区  79135.0   匹配     1
3684  31  刘广阁  411303198303146744  航天居住小区  79204.0   匹配     1
3685  41  杨克彬  412901197906041016  航天居住小区  79204.0   匹配     1
3702  28  李国明  412901196209244606  航天居住小区  79519.0   匹配     1

[89 rows x 7 columns]

北京安居新村

In [26]:
wolong_data_beijing = wolong_data[wolong_data["小区名称"]=="北京安居新村"]
len(wolong_data_beijing)

155

In [27]:

wolong_data_beijing['土地出让金金额'].sum()/10000

69.1984

In [28]:
wolong_data_beijing_nomatch = wolong_data[(wolong_data["小区名称"]=="北京安居新村")& (wolong_data["比对结果"]=="无匹配数据") ]
wolong_data_beijing_nomatch

     序号    申请人                 身份证号    小区名称  土地出让金金额   比对结果  匹配次数
65   59  黄克     41292419770916031X   北京安居新村   3916.0  无匹配数据     0
92  152     芦林   41130319820315152X  北京安居新村   4626.0  无匹配数据     0

In [29]:

wolong_data_beijing_nomatch['土地出让金金额'].sum()/10000

0.8542

In [30]:
wolong_data_income_beijing = wolong_data[(wolong_data["小区名称"]=="北京安居新村")&  (wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]==1)]
wolong_data_income_beijing

      序号  申请人                身份证号    小区名称  土地出让金金额 比对结果  匹配次数
0    116  张永耀  412926197404274511  北京安居新村   2429.0   匹配     1
1     80  王金博  412931197509261339  北京安居新村   2431.0   匹配     1
2     74  阚清涛  411303197810301011  北京安居新村   2602.0   匹配     1
3     14  朱林举  412922197812151638  北京安居新村   2665.0   匹配     1
4     27   王淼  411302198011260039  北京安居新村   2665.0   匹配     1
..   ...  ...                 ...     ...      ...  ...   ...
150  126  张琬悦  412901197706083529  北京安居新村   7225.0   匹配     1
151  140  杨宗甫  412924195002053175  北京安居新村   7601.0   匹配     1
152   46  常永海  412901196603233817  北京安居新村  11245.0   匹配     1
153   47  吴小卉  412901196911063805  北京安居新村  11275.0   匹配     1
154  150  文全有  412928197008125330  北京安居新村  12708.0   匹配     1

[153 rows x 7 columns]

In [31]:

wolong_data_income_beijing['土地出让金金额'].sum()/10000

68.3442

卧龙区经济房一期

In [32]:
wolong_data_longxiang = wolong_data[wolong_data["小区名称"]=="卧龙区经济房一期"]
len(wolong_data_longxiang)

895

In [33]:

wolong_data_longxiang['土地出让金金额'].sum()/10000

6644.8107

In [34]:
wolong_data_income_longxiang = wolong_data[(wolong_data["小区名称"]=="卧龙区经济房一期")& (wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]==1)]

wolong_data_income_longxiang

       序号  申请人                身份证号      小区名称  土地出让金金额 比对结果  匹配次数
298   364  陈成章  411302196411191336  卧龙区经济房一期  43592.0   匹配     1
299   734  张文星  412924196511280725  卧龙区经济房一期  43592.0   匹配     1
2021  384  高学堂  372823196912214310  卧龙区经济房一期  62611.0   匹配     1
2022  453   曾伟  412901196305201518  卧龙区经济房一期  62611.0   匹配     1
2038   75  钟理喜  412901194806010518  卧龙区经济房一期  62750.0   匹配     1
...   ...  ...                 ...       ...      ...  ...   ...
3909  763   孟昂  412901197410220029  卧龙区经济房一期  83065.0   匹配     1
3910  267  何美英  412924196808072281  卧龙区经济房一期  83316.0   匹配     1
3911  514  李文军  412702199602084118  卧龙区经济房一期  83316.0   匹配     1
3912  733   赵雨  41130319911120289X  卧龙区经济房一期  83316.0   匹配     1
3913  513  李艳灵  412702199211074166  卧龙区经济房一期  83742.0   匹配     1

[819 rows x 7 columns]

In [35]:
wolong_data_income_longxiang['土地出让金金额'].sum()/10000

6092.5631

In [36]:
wolong_data_nomatch_longxiang = wolong_data[(wolong_data["小区名称"]=="卧龙区经济房一期")& (wolong_data["比对结果"]=="无匹配数据") ]

wolong_data_nomatch_longxiang

       序号  申请人                身份证号      小区名称  土地出让金金额   比对结果  匹配次数
2084  891  张永安  412921195709150017  卧龙区经济房一期  63167.0  无匹配数据     0
2138  843  宋佳音  411325198801172927  卧龙区经济房一期  63814.0  无匹配数据     0
2149  842  马光磊  411325198311053511  卧龙区经济房一期  63855.0  无匹配数据     0
2156  845  孙亚超  412921196412192042  卧龙区经济房一期  63922.0  无匹配数据     0
2157  851  黄建奇  412901196508051011  卧龙区经济房一期  63922.0  无匹配数据     0
...   ...  ...                 ...       ...      ...    ...   ...
3674  890  姚林桃  411303198709215965  卧龙区经济房一期  79066.0  无匹配数据     0
3691   14  周玉坤  41292419691029135X  卧龙区经济房一期  79312.0  无匹配数据     0
3692  859   张丽  411322198311212026  卧龙区经济房一期  79390.0  无匹配数据     0
3699  426  殷玉丽  412924197009220748  卧龙区经济房一期  79401.0  无匹配数据     0
3895  599   尚众  411303198705154210  卧龙区经济房一期  82396.0  无匹配数据     0

[76 rows x 7 columns]

In [37]:
wolong_data_nomatch_longxiang['土地出让金金额'].sum()/10000

552.2476

In [38]:
wolong_data_repeat_longxiang = wolong_data[(wolong_data["小区名称"]=="卧龙区经济房一期")& (wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]>1)]

wolong_data_repeat_longxiang

Empty DataFrame
Columns: [序号, 申请人, 身份证号, 小区名称, 土地出让金金额, 比对结果, 匹配次数]
Index: []

In [39]:
wolong_data_repeat_longxiang['土地出让金金额'].sum()/10000

0.0

地方铁路局一期

In [40]:
wolong_data_tieluju = wolong_data[(wolong_data["小区名称"]=="地方铁路局一期")]
wolong_data_tieluju

       序号  申请人                身份证号     小区名称  土地出让金金额   比对结果  匹配次数
223   195  朱俊峰  412901197410124520  地方铁路局一期  41163.0     匹配     1
224   218   李娟  412922197401010021  地方铁路局一期  41163.0     匹配     1
225   249  陈金贤  412924197108290725  地方铁路局一期  41163.0     匹配     1
228   281  冯东阳  41130319881231243X  地方铁路局一期  41551.0     匹配     1
229   289  华松波  412924197806301655  地方铁路局一期  41551.0     匹配     1
...   ...  ...                 ...      ...      ...    ...   ...
2702  459  柳建玲  411303196503156761  地方铁路局一期  70394.0     匹配     1
2703  461  柳建玉  412924197310010408  地方铁路局一期  70394.0     匹配     1
2704  464  曹书亮  412901197109043019  地方铁路局一期  70394.0     匹配     1
2705  471   高丽  412901196910144005  地方铁路局一期  70394.0     匹配     1
2706  508  陈小龙  41130319890719291X  地方铁路局一期  70394.0  无匹配数据     0

[515 rows x 7 columns]

In [41]:
wolong_data_tieluju['土地出让金金额'].sum()/10000

3074.3626

In [42]:
wolong_data_income_tielu = wolong_data[(wolong_data["小区名称"]=="地方铁路局一期")& (wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]==1)]

wolong_data_income_tielu

       序号  申请人                身份证号     小区名称  土地出让金金额 比对结果  匹配次数
223   195  朱俊峰  412901197410124520  地方铁路局一期  41163.0   匹配     1
224   218   李娟  412922197401010021  地方铁路局一期  41163.0   匹配     1
225   249  陈金贤  412924197108290725  地方铁路局一期  41163.0   匹配     1
228   281  冯东阳  41130319881231243X  地方铁路局一期  41551.0   匹配     1
229   289  华松波  412924197806301655  地方铁路局一期  41551.0   匹配     1
...   ...  ...                 ...      ...      ...  ...   ...
2701  424   王丽  411325199103182946  地方铁路局一期  70394.0   匹配     1
2702  459  柳建玲  411303196503156761  地方铁路局一期  70394.0   匹配     1
2703  461  柳建玉  412924197310010408  地方铁路局一期  70394.0   匹配     1
2704  464  曹书亮  412901197109043019  地方铁路局一期  70394.0   匹配     1
2705  471   高丽  412901196910144005  地方铁路局一期  70394.0   匹配     1

[496 rows x 7 columns]

In [43]:
wolong_data_income_tielu['土地出让金金额'].sum()/10000

2959.686

In [44]:
wolong_data_repeat_tielu = wolong_data[(wolong_data["小区名称"]=="地方铁路局一期")& (wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]>1)]

wolong_data_repeat_tielu

       序号  申请人                身份证号     小区名称  土地出让金金额 比对结果  匹配次数
1996  316  周大雪  411302198212315745  地方铁路局一期  62251.0   匹配     2
1997  317  周大雪  411302198212315745  地方铁路局一期  62251.0   匹配     2

In [45]:
wolong_data_repeat_tielu['土地出让金金额'].sum()/10000

12.4502

In [46]:
wolong_data_nomatch_tielu = wolong_data[(wolong_data["小区名称"]=="地方铁路局一期")& (wolong_data["比对结果"]=="无匹配数据")]

len(wolong_data_nomatch_tielu)

17

In [47]:
wolong_data_nomatch_tielu['土地出让金金额'].sum()/10000

102.2264

瑶春居

In [48]:
wolong_data_yaochunju = wolong_data[(wolong_data["小区名称"]=="瑶春居")]

wolong_data_yaochunju

        序号  申请人                身份证号 小区名称  土地出让金金额 比对结果  匹配次数
155    297   连彦  411303198209101013  瑶春居  21000.0   匹配     1
156   1039  朱彦静  411328199203060662  瑶春居  21000.0   匹配     1
157   1068  曹斌雅  41132819950812396X  瑶春居  21000.0   匹配     1
158   1134   杨笋  411381199303234529  瑶春居  21000.0   匹配     1
159   1135  万明阁  411303199102091024  瑶春居  21000.0   匹配     1
...    ...  ...                 ...  ...      ...  ...   ...
3809   536   孙月  412924197907031121  瑶春居  80929.0   匹配     1
3810   804  孙晓玉  411303198807085113  瑶春居  80929.0   匹配     1
3811  1044  张永欣  412901197503084521  瑶春居  80929.0   匹配     1
3845   786   祁爽  411303198706265588  瑶春居  81674.0   匹配     1
3897  1130   梁晓  411303198803145967  瑶春居  82500.0   匹配     1

[1148 rows x 7 columns]

In [49]:
wolong_data_yaochunju['土地出让金金额'].sum()/10000

7466.9614

In [50]:
wolong_data_income_yaochunju = wolong_data[(wolong_data["小区名称"]=="瑶春居")& (wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]==1)]

wolong_data_income_yaochunju

        序号  申请人                身份证号 小区名称  土地出让金金额 比对结果  匹配次数
155    297   连彦  411303198209101013  瑶春居  21000.0   匹配     1
156   1039  朱彦静  411328199203060662  瑶春居  21000.0   匹配     1
157   1068  曹斌雅  41132819950812396X  瑶春居  21000.0   匹配     1
158   1134   杨笋  411381199303234529  瑶春居  21000.0   匹配     1
159   1135  万明阁  411303199102091024  瑶春居  21000.0   匹配     1
...    ...  ...                 ...  ...      ...  ...   ...
3809   536   孙月  412924197907031121  瑶春居  80929.0   匹配     1
3810   804  孙晓玉  411303198807085113  瑶春居  80929.0   匹配     1
3811  1044  张永欣  412901197503084521  瑶春居  80929.0   匹配     1
3845   786   祁爽  411303198706265588  瑶春居  81674.0   匹配     1
3897  1130   梁晓  411303198803145967  瑶春居  82500.0   匹配     1

[1132 rows x 7 columns]

In [51]:
wolong_data_income_yaochunju['土地出让金金额'].sum()/10000

7362.5906

In [52]:
wolong_data_repeat_yaochunju = wolong_data[(wolong_data["小区名称"]=="瑶春居")& (wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]>1)]

wolong_data_repeat_yaochunju

       序号 申请人                身份证号 小区名称  土地出让金金额 比对结果  匹配次数
1457  108  王芳  411303198909065527  瑶春居  60000.0   匹配     2
1684  830  王芳  412924197310011523  瑶春居  60000.0   匹配     2

In [53]:
wolong_data_repeat_yaochunju['土地出让金金额'].sum()/10000

12.0

In [54]:
wolong_data_nomatch_yaochunju = wolong_data[(wolong_data["小区名称"]=="瑶春居")& (wolong_data["比对结果"]=="无匹配数据") ]

len(wolong_data_nomatch_yaochunju)

14

In [55]:
wolong_data_nomatch_yaochunju['土地出让金金额'].sum()/10000

92.3708

大屯经适房

In [56]:
wolong_data_datun = wolong_data[(wolong_data["小区名称"]=="大屯经适房")]

wolong_data_datun

       序号  申请人                身份证号   小区名称  土地出让金金额 比对结果  匹配次数
164   116  赵松旺  411328198706080679  大屯经适房  22477.0   匹配     1
167   117  赵松旺  411328198706080679  大屯经适房  23204.0   匹配     1
168   399   李娜  411303198303255924  大屯经适房  23215.0   匹配     1
169   144   张肖  411322199105112926  大屯经适房  23911.0   匹配     1
170   207  张德珂  412921197709074041  大屯经适房  23938.0   匹配     1
...   ...  ...                 ...    ...      ...  ...   ...
1118  221  任洪信  411901196209124516  大屯经适房  55868.0   匹配     1
1119  230  王惠峰  41293119780702397x  大屯经适房  55872.0   匹配     1
1130  202  谢宛东  411303198911062448  大屯经适房  56096.0   匹配     1
1142  220  张小丽  412922197508192427  大屯经适房  56210.0   匹配     1
1143  323  卢祖林  411322199006142935  大屯经适房  56210.0   匹配     1

[481 rows x 7 columns]

In [57]:
wolong_data_datun['土地出让金金额'].sum()/10000

2507.7296

In [58]:
wolong_data_income_datun = wolong_data[(wolong_data["小区名称"]=="大屯经适房")& (wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]==1)]

wolong_data_income_datun

       序号  申请人                身份证号   小区名称  土地出让金金额 比对结果  匹配次数
164   116  赵松旺  411328198706080679  大屯经适房  22477.0   匹配     1
167   117  赵松旺  411328198706080679  大屯经适房  23204.0   匹配     1
168   399   李娜  411303198303255924  大屯经适房  23215.0   匹配     1
169   144   张肖  411322199105112926  大屯经适房  23911.0   匹配     1
170   207  张德珂  412921197709074041  大屯经适房  23938.0   匹配     1
...   ...  ...                 ...    ...      ...  ...   ...
1118  221  任洪信  411901196209124516  大屯经适房  55868.0   匹配     1
1119  230  王惠峰  41293119780702397x  大屯经适房  55872.0   匹配     1
1130  202  谢宛东  411303198911062448  大屯经适房  56096.0   匹配     1
1142  220  张小丽  412922197508192427  大屯经适房  56210.0   匹配     1
1143  323  卢祖林  411322199006142935  大屯经适房  56210.0   匹配     1

[457 rows x 7 columns]

In [59]:
wolong_data_income_datun['土地出让金金额'].sum()/10000

2384.4125

In [60]:
wolong_data_repeat_datun = wolong_data[(wolong_data["小区名称"]=="大屯经适房")& (wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]>1)]

wolong_data_repeat_datun

      序号  申请人                身份证号   小区名称  土地出让金金额 比对结果  匹配次数
615  297  张明会  41132519771102298X  大屯经适房  51452.0   匹配     2
617  459  张明会  41132519771102298X  大屯经适房  51452.0   匹配     2
637  303  唐桂永  411322198205082053  大屯经适房  51661.0   匹配     2
638  344  唐桂永  411322198205082053  大屯经适房  51661.0   匹配     2
647  444   李鹏  412922197804222918  大屯经适房  51710.0   匹配     2
648  445   李鹏  412922197804222918  大屯经适房  51710.0   匹配     2

In [61]:
wolong_data_repeat_datun['土地出让金金额'].sum()/10000

30.9646

In [62]:
wolong_data_nomatch_datun = wolong_data[(wolong_data["小区名称"]=="大屯经适房")& (wolong_data["比对结果"]=="无匹配数据")]

len(wolong_data_nomatch_datun)

18

In [63]:
wolong_data_nomatch_datun['土地出让金金额'].sum()/10000

92.3525

淯水花园

In [64]:
wolong_data_yushuihuayuan = wolong_data[(wolong_data["小区名称"]=="淯水花园")]

wolong_data_yushuihuayuan

       序号  申请人                身份证号  小区名称  土地出让金金额 比对结果  匹配次数
191    27  李宝如  412924196410092215  淯水花园  36573.0   匹配     1
195   385  刘嘉伟  410103197407111910  淯水花园  38302.0   匹配     1
196   454   王政  411303199203061510  淯水花园  38302.0   匹配     1
202   288  王淑娟  411303197605061522  淯水花园  38864.0   匹配     1
206   290  刘云改  412924196203061942  淯水花园  39503.0   匹配     1
...   ...  ...                 ...   ...      ...  ...   ...
4004  317  黄海良  412924196006251317  淯水花园  99320.0   匹配     1
4005  346   郝鑫  412929197008019411  淯水花园  99320.0   匹配     1
4006  689  张清洋  412924197205051312  淯水花园  99320.0   匹配     1
4007  388  李玉东  411303198201214857  淯水花园  99327.0   匹配     1
4008  490  徐铭辰  412702198703257431  淯水花园  99327.0   匹配     1

[725 rows x 7 columns]

In [65]:
wolong_data_yushuihuayuan['土地出让金金额'].sum()/10000

4572.4448

In [66]:
wolong_data_income_yushuihuayuan = wolong_data[(wolong_data["小区名称"]=="淯水花园")& (wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]==1)]

wolong_data_income_yushuihuayuan

       序号  申请人                身份证号  小区名称  土地出让金金额 比对结果  匹配次数
191    27  李宝如  412924196410092215  淯水花园  36573.0   匹配     1
195   385  刘嘉伟  410103197407111910  淯水花园  38302.0   匹配     1
196   454   王政  411303199203061510  淯水花园  38302.0   匹配     1
202   288  王淑娟  411303197605061522  淯水花园  38864.0   匹配     1
206   290  刘云改  412924196203061942  淯水花园  39503.0   匹配     1
...   ...  ...                 ...   ...      ...  ...   ...
4004  317  黄海良  412924196006251317  淯水花园  99320.0   匹配     1
4005  346   郝鑫  412929197008019411  淯水花园  99320.0   匹配     1
4006  689  张清洋  412924197205051312  淯水花园  99320.0   匹配     1
4007  388  李玉东  411303198201214857  淯水花园  99327.0   匹配     1
4008  490  徐铭辰  412702198703257431  淯水花园  99327.0   匹配     1

[706 rows x 7 columns]

In [67]:
wolong_data_income_yushuihuayuan['土地出让金金额'].sum()/10000

4458.9335

In [68]:
wolong_data_repeat_yushuihuayuan = wolong_data[(wolong_data["小区名称"]=="淯水花园")& (wolong_data["比对结果"]=="匹配") & (wolong_data["匹配次数"]>1)]

wolong_data_repeat_yushuihuayuan

Empty DataFrame
Columns: [序号, 申请人, 身份证号, 小区名称, 土地出让金金额, 比对结果, 匹配次数]
Index: []

In [69]:
wolong_data_repeat_yushuihuayuan['土地出让金金额'].sum()/10000

0.0

In [70]:
wolong_data_nomatch_yushuihuayuan = wolong_data[(wolong_data["小区名称"]=="淯水花园")& (wolong_data["比对结果"]=="无匹配数据") ]

len(wolong_data_nomatch_yushuihuayuan)

19

In [71]:
wolong_data_nomatch_yushuihuayuan['土地出让金金额'].sum()/10000

113.5113

在未匹配数据中比对

In [60]:
wolon_data_income_nomatch = wolong_data[(wolong_data["比对结果"]=="无匹配数据")]
wolon_data_income_nomatch

         序号    申请人                 身份证号    小区名称     土地出让金金额   比对结果  匹配次数
88     89.0     闫路   411302198506240822  航天居住小区     39541.0  无匹配数据     0
90      NaN    NaN                  NaN     NaN   6151471.0  无匹配数据     0
149    59.0  黄克     41292419770916031X   北京安居新村      3916.0  无匹配数据     0
242   152.0     芦林   41130319820315152X  北京安居新村      4626.0  无匹配数据     0
246     NaN    NaN                  NaN     NaN    691984.0  无匹配数据     0
...     ...    ...                  ...     ...         ...    ...   ...
3904  615.0    粱雪峰   412901197310062529    淯水花园     91819.0  无匹配数据     0
3984  695.0     郭宵   411303198809190013    淯水花园     47688.0  无匹配数据     0
4013  724.0    侯俊灼   411381198701192219    淯水花园     65080.0  无匹配数据     0
4014  725.0    叶小宛   412901197002112504    淯水花园     48635.0  无匹配数据     0
4015    NaN    NaN                  NaN     NaN  45724448.0  无匹配数据     0

[154 rows x 7 columns]

In [61]:
for index_wl, row_wl in wolon_data_income_nomatch.iterrows():
    amount_wl = row_wl["土地出让金金额"]
    mof_data_tmp = mof_data[mof_data["金额"]==amount_wl]
    #print("卧龙区数据：索引%s 姓名 %s 金额 %s" % (index_wl, name_wl,amount_wl))
    
    wolong_data.loc[index_wl,'比对结果']="金额匹配"
    wolong_data.loc[index_wl,'匹配次数']=len(mof_data_tmp)

In [62]:
tmp = wolong_data[(wolong_data["比对结果"]=="金额匹配") & (wolong_data["匹配次数"]>1)]
tmp

         序号   申请人                身份证号      小区名称  土地出让金金额  比对结果  匹配次数
88     89.0    闫路  411302198506240822    航天居住小区  39541.0  金额匹配     2
260    14.0   周玉坤  41292419691029135X  卧龙区经济房一期  79312.0  金额匹配     2
269    23.0   闫忠科  411303198502153912  卧龙区经济房一期  75553.0  金额匹配     4
497   251.0   冯春燕  411322199211102051  卧龙区经济房一期  77467.0  金额匹配     3
647   401.0   杨由全  412929197212186524  卧龙区经济房一期  69117.0  金额匹配    16
...     ...   ...                 ...       ...      ...   ...   ...
3494  205.0   张凤燕  412924197501155300      淯水花园  47690.0  金额匹配     4
3528  239.0   商鲁原  410203197203311510      淯水花园  57520.0  金额匹配     3
3621  332.0   巴彦博  411303199304300031      淯水花园  91812.0  金额匹配     2
3984  695.0    郭宵  411303198809190013      淯水花园  47688.0  金额匹配     5
4014  725.0   叶小宛  412901197002112504      淯水花园  48635.0  金额匹配     2

[68 rows x 7 columns]

In [63]:
tmp = wolong_data[(wolong_data["比对结果"]=="金额匹配") & (wolong_data["匹配次数"]==1)]
print(len(tmp))
tmp

19

          序号    申请人                 身份证号      小区名称  土地出让金金额  比对结果  匹配次数
149     59.0  黄克     41292419770916031X     北京安居新村   3916.0  金额匹配     1
242    152.0     芦林   41130319820315152X    北京安居新村   4626.0  金额匹配     1
1086   840.0    王宗勤   412927197610156360  卧龙区经济房一期  76227.0  金额匹配     1
1101   855.0    乔修芳   412921197802034028  卧龙区经济房一期  76104.0  金额匹配     1
1104   858.0    李九冰   412922197607062038  卧龙区经济房一期  74859.0  金额匹配     1
1109   863.0    胡冰冰   411303199009295911  卧龙区经济房一期  64937.0  金额匹配     1
1134   888.0    王广玉   411326198011022437  卧龙区经济房一期  74859.0  金额匹配     1
1655   513.0    王进玉   412901195006182017   地方铁路局一期  64910.0  金额匹配     1
2806  1148.0    毕文永   412924197005063714       瑶春居  80009.0  金额匹配     1
2876    69.0    肖红伟   412921196806152510     大屯经适房  51662.0  金额匹配     1
3041   234.0    何西存   412929196907151438     大屯经适房  55344.0  金额匹配     1
3109   302.0    邓铁生   410102197605162595     大屯经适房  51725.0  金额匹配     1
3188   381.0    李东林   41292119641211153X     大屯经适房  36379.0  金额匹配     1
3201   394.0    张兆国   412928196304263119     大屯经适房  53124.0  金额匹配     1
3294     5.0    范海涛   412925197801295512      淯水花园  53162.0  金额匹配     1
3398   109.0    汤清琼   41130319810517594X      淯水花园  55908.0  金额匹配     1
3400   111.0    孙统祥   412924196505052232      淯水花园  48048.0  金额匹配     1
3904   615.0    粱雪峰   412901197310062529      淯水花园  91819.0  金额匹配     1
4013   724.0    侯俊灼   411381198701192219      淯水花园  65080.0  金额匹配     1

风帆小区数据

In [93]:
fengfan_data = pd.read_csv('fengfan_income.csv', thousands=',')
fengfan_data["比对结果"] = "无匹配数据"
fengfan_data["匹配次数"] = 0

In [94]:
for index_fengfan, row_fengfan in fengfan_data.iterrows():
    name_fengfan = row_fengfan["申请人"]
    amount_fengfan = row_fengfan["补缴土地价款"]
    mof_data_tmp = mof_data[mof_data["缴款单位"]==name_fengfan]
    #print("卧龙区数据：索引%s 姓名 %s 金额 %s" % (index_wl, name_wl,amount_wl))
    
    count = 0
    for index_mof, row_mof in mof_data_tmp.iterrows():
        name_mof = row_mof["缴款单位"]
        amount_mof = row_mof["金额"]
        #print("财政局数据：索引%s 姓名 %s 金额 %s" % (index_mof, name_mof,amount_mof))
        
        if(amount_fengfan == amount_mof):
            count+=1
            fengfan_data.loc[index_fengfan,'比对结果']="匹配"
            fengfan_data.loc[index_fengfan,'匹配次数']=count

In [95]:
fengfan_data

,序号,申请人,身份证,购房金额,补缴差价款比例,补缴土地价款,Unnamed: 6,比对结果,匹配次数
0,NaN,张中星,储藏室,2170,5%,109.0,NaN,无匹配数据,0
1,NaN,梅进甲,储藏室,2170,5%,109.0,NaN,无匹配数据,0
2,NaN,包佳,储藏室,2390,5%,120.0,NaN,无匹配数据,0
3,NaN,王荣芝,储藏室,2390,5%,120.0,NaN,匹配,1
4,NaN,秦正浩,储藏室,2390,5%,120.0,NaN,匹配,1
...,...,...,...,...,...,...,...,...,...
1019,JSS0543,孙玲,412901196412051500,209933,25%,52483.0,NaN,匹配,1
1020,JSS0583,王玉恒,420106196511224954,209933,25%,52483.0,NaN,匹配,1
1021,JSS0589,付戈,41290219750920675X,232621,25%,58155.0,NaN,匹配,1
1022,NaN,周玉全,储藏室,11418,5%,571.0,NaN,无匹配数据,0
1023,JSS0021,周玉全,41290119570701303X,116900,5%,5845.0,NaN,无匹配数据,0

In [96]:
fengfan_data['补缴土地价款'].sum()/10000

648.74286

In [97]:
fengfan_data_income = fengfan_data[(fengfan_data["比对结果"]=="匹配") & (fengfan_data["匹配次数"]==1)]
fengfan_data_income

,序号,申请人,身份证,购房金额,补缴差价款比例,补缴土地价款,Unnamed: 6,比对结果,匹配次数
3,NaN,王荣芝,储藏室,2390,5%,120.0,NaN,匹配,1
4,NaN,秦正浩,储藏室,2390,5%,120.0,NaN,匹配,1
5,NaN,宋玉祥,储藏室,3000,5%,150.0,NaN,匹配,1
8,NaN,王会东,储藏室,3682,5%,184.0,NaN,匹配,1
19,NaN,张瑞,储藏室,4382,5%,219.0,NaN,匹配,1
...,...,...,...,...,...,...,...,...,...
1015,JSS0571,武金平,412921196308184421,193927,25%,48482.0,NaN,匹配,1
1018,JSS0406,王继红,412902196912200169,258726,20%,51745.0,NaN,匹配,1
1019,JSS0543,孙玲,412901196412051500,209933,25%,52483.0,NaN,匹配,1
1020,JSS0583,王玉恒,420106196511224954,209933,25%,52483.0,NaN,匹配,1
1021,JSS0589,付戈,41290219750920675X,232621,25%,58155.0,NaN,匹配,1

In [98]:
fengfan_data_income['补缴土地价款'].sum()/10000

217.7682

In [99]:
fengfan_data_income_chucangshi = fengfan_data[(fengfan_data["比对结果"]=="匹配") & (fengfan_data["匹配次数"]==2)]
fengfan_data_income_chucangshi

Empty DataFrame
Columns: [序号, 申请人, 身份证, 购房金额, 补缴差价款比例, 补缴土地价款, Unnamed: 6, 比对结果, 匹配次数]
Index: []

In [100]:
fengfan_data_income_chucangshi['补缴土地价款'].sum()/10000

0.0

In [101]:
fengfan_data_repeat = fengfan_data[(fengfan_data["比对结果"]=="匹配") & (fengfan_data["匹配次数"]>1)]
fengfan_data_repeat

Empty DataFrame
Columns: [序号, 申请人, 身份证, 购房金额, 补缴差价款比例, 补缴土地价款, Unnamed: 6, 比对结果, 匹配次数]
Index: []

In [102]:
fengfan_data_nomatch = fengfan_data[(fengfan_data["比对结果"]=="无匹配数据") ]
fengfan_data_nomatch

,序号,申请人,身份证,购房金额,补缴差价款比例,补缴土地价款,Unnamed: 6,比对结果,匹配次数
0,NaN,张中星,储藏室,2170,5%,109.0,NaN,无匹配数据,0
1,NaN,梅进甲,储藏室,2170,5%,109.0,NaN,无匹配数据,0
2,NaN,包佳,储藏室,2390,5%,120.0,NaN,无匹配数据,0
6,NaN,张建国,储藏室,3449,5%,172.0,NaN,无匹配数据,0
7,NaN,马建波,储藏室,3449,5%,172.0,NaN,无匹配数据,0
...,...,...,...,...,...,...,...,...,...
1014,JSS0266,李国瑞,412924196408051326,241913,20%,48383.0,NaN,无匹配数据,0
1016,JSS0284,郭峰,412901196401181510,247391,20%,49478.0,NaN,无匹配数据,0
1017,JSS0347,王小霞,412901195707151563,258726,20%,51745.0,NaN,无匹配数据,0
1022,NaN,周玉全,储藏室,11418,5%,571.0,NaN,无匹配数据,0
1023,JSS0021,周玉全,41290119570701303X,116900,5%,5845.0,NaN,无匹配数据,0

In [103]:
fengfan_data_nomatch['补缴土地价款'].sum()/10000

430.97466

In [93]:
for index_fengfan, row_fengfan in fengfan_data_nomatch.iterrows():
    amount_fengfan = row_fengfan["补缴土地价款"]
    mof_data_tmp = mof_data[mof_data["金额"]==amount_fengfan]
    #print("卧龙区数据：索引%s 姓名 %s 金额 %s" % (index_wl, name_wl,amount_wl))
    
    fengfan_data.loc[index_fengfan,'比对结果']="金额匹配"
    fengfan_data.loc[index_fengfan,'匹配次数']=len(mof_data_tmp)

In [94]:
tmp = fengfan_data[(fengfan_data["比对结果"]=="金额匹配") & (fengfan_data["匹配次数"]>1)]
tmp

,序号,申请人,身份证,购房金额,补缴差价款比例,补缴土地价款,Unnamed: 6,比对结果,匹配次数
2,NaN,包佳,储藏室,2390,5%,120.0,NaN,金额匹配,2
6,NaN,张建国,储藏室,3449,5%,172.0,NaN,金额匹配,4
7,NaN,马建波,储藏室,3449,5%,172.0,NaN,金额匹配,4
15,NaN,崔明广,储藏室,4382,5%,219.0,NaN,金额匹配,4
16,NaN,陈和平,储藏室,4383,5%,219.0,NaN,金额匹配,4
...,...,...,...,...,...,...,...,...,...
743,JSS0364,崔国忠,412931196906110054,104544,5%,5227.0,NaN,金额匹配,3
765,NaN,兰延伟,储藏室,27252,20%,5450.0,NaN,金额匹配,2
766,NaN,郭国荣,储藏室,27252,20%,5450.0,NaN,金额匹配,2
767,NaN,王洪彦,储藏室,27252,20%,5450.0,NaN,金额匹配,2
876,JSS0447,焦娟玲,41293119640427012X,240000,5%,12000.0,NaN,金额匹配,2

In [95]:
tmp = fengfan_data[(fengfan_data["比对结果"]=="金额匹配") & (fengfan_data["匹配次数"]==1)]
print(len(tmp))
tmp

139

,序号,申请人,身份证,购房金额,补缴差价款比例,补缴土地价款,Unnamed: 6,比对结果,匹配次数
27,NaN,鲁洋,储藏室,4958,5%,248.0,NaN,金额匹配,1
31,NaN,张果,储藏室,5107.2,5%,255.0,NaN,金额匹配,1
42,NaN,赵胜涛,储藏室,5450,5%,272.0,NaN,金额匹配,1
43,NaN,刘遂庆,储藏室,5448,5%,272.0,NaN,金额匹配,1
44,NaN,张铁林,储藏室,5448,5%,272.0,NaN,金额匹配,1
...,...,...,...,...,...,...,...,...,...
1002,JSS0198,郭国荣,412922195104240323,202055,20%,40411.0,NaN,金额匹配,1
1003,JSS0241,王洪彦,412901195203250509,202055,20%,40411.0,NaN,金额匹配,1
1009,JSS0500,鲜文琼,412901196304250019,215092,20%,43018.0,NaN,金额匹配,1
1011,JSS0420,吴云霞,412925196301130047,174011,25%,43503.0,NaN,金额匹配,1
1017,JSS0347,王小霞,412901195707151563,258726,20%,51745.0,NaN,金额匹配,1